@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=DM+Serif+Display:ital@0;1&family=Fugaz+One&family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap');

:root {
    --primary-color: #e0f8f8;
    --text: #2b2b2b;
    --max-widht: 1900px;

    --hover-color: #029c9e;
    background: #ffffff;


}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    display: grid;

}


a {
    text-decoration: none;
    transition: 0.3s;

}

ul {
    list-style: none;


}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;




}

nav {
    position: fixed;
    
    isolation: isolate;
    width: 100%;
    z-index: 9;
    



}

.nav-header {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    


}

.nav-logo a img {
    max-width: 100px;
    margin-left: 15px;
   


}

.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--text);
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nav-links {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}



.nav-links.open {

    transform: translateY(90%);
}

.nav-links a {

    font-weight: 500;
    color: #000;
    white-space: nowrap;
}

.nav-links a:hover{
    color:#07a5a7;
    
}



.img-slider{

  position: relative;
  width: 800px;  
  height: 500px;
  
  
  width: 100%;
    height: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    


    position: relative;
}

.img-slider .slide{

    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
   
    

}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1.3s;
    transition-property:  clip-path;



}

.img-slider .slide img{
z-index: 1;
width: 100%;
max-height: 450px;
margin-top: 30px;
mask-image: linear-gradient(to right,#22577a 0%,#22577a 70%, transparent 100%);










}

.img-slider .slide .info{
position: absolute;
top: 100px;
padding: 15px 30px;


}

.img-slider .slide .info h2 {
    color: #029c9e;
    top: 85px;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.img-slider .slide .info p{
color: #000000;
background: rgba(197, 193, 193, 0.568);
font-weight: 400;
font-size: 15px;
width: 70%;
padding: 10px;
border-radius: 4px;

align-items: center;


}

.img-slider .navigator{
z-index: 2;
position: absolute;
display: flex;
bottom: 10px;
left: 50%;
transform: translateX(-50%);

}

.img-slider .navigator .btn{
    background: rgba(255, 255, 255, 0.9);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    




}

.img-slider .navigator .btn.active{
    background: #029b9ed5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);


}

.img-slider .navigator .btn:hover{

    scale: 1.3;
    background: #029b9e9a;
    

}



.popup-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.popup-content {
    background: #fff;
    max-width: 450px;
    width: 90%;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#popup-list{

    list-style-type: disc;
    margin-left: 15px;
}

.popup-image img {
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    mask-image: linear-gradient( to right, #22577a 0%, #22577a 50%, transparent 100%);
    
}


.popup-close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #d1d0d062;

    cursor: pointer;
    
    
}

.popup-close:hover{
    background-color: #029b9ebb;

    scale: 1.3;
    transition: 0.3s;

}

.footer{
    background-color: #029b9e98;
    height: 30px;
   mask-image: linear-gradient(to top, #426e6e, transparent)
    
}






@media (max-widht: 820px){
    .img-slider{
        width: 600px;
        height: 475px;
        }
    
    .img-slider .slide .info{
        padding: 10px 25px;

    }

    .img-slider .slide .info  h2{
     font-size: 35px;   
    }

    .img-slider .slide .info p{
width: 70%;
font-size: 14px ;


    }

    .img-slider .navigator{
        bottom: 10px;
    
    }

    .img-slider .navigator .btn{
        width:8px;
        height: 8px;
        margin: 6px;

    }

    
}







.img-brand {
    display: flex;
    margin-top: 55px;

    justify-content: center;
}

.img-brand img {

    height: 100%;
    margin-top: 1px;
    width: 30%;







}



.description {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    font-family: "DM Serif Display";
    text-align: center;
    font-weight: 200;

}

.socials-container {


    display: flex;
    gap: 15px;
    margin-right: 60px;
    margin-top: 100px;



}

.socials-container a {

    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
}

.socials-container a svg {
    height: 17px;
}

.socials-container a::before {

    content: attr(data-social);
    position: absolute;
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;

    border-radius: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);

    opacity: 0;

}

.socials-container a:hover {
    background-color: #029c9e;
    cursor: pointer;
    fill: white;

}


.service-card {
    margin-top: 10px;

    background-color: #ffffff;
    width: 170px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.service-title {
    font-size: 20px;
    margin-bottom: 12px;
    color: #1d1d1d;
}

.service-description {
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
}

.service-button {
    background-color: #07a5a7;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    
    transition: background-color 0.3s ease;
    transition: scale 0.3s ease;
}

.service-button:hover {
    background-color: #444;
    scale: 1.1
}

.services-container {

    display: flex;
    gap: 15px;
    /* Espacio entre tarjetas */
    justify-content: center;
    /* Alineación horizontal */
    align-items: stretch;
    /* Altura uniforme */
    flex-wrap: wrap;
    /* Baja a la siguiente fila si no caben */
}

.intro-service {


    margin-top: 70px;
    text-align: center;
    background-color: #444;
    width: 200px;

    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;



}

.intro-service:hover {
    cursor: pointer;
    background-color: #07a5a7;

}

.contact-intro {
    
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;

}

.socials-container-body {
    
    align-items: center;
    display: flex;
    
    align-content: center;
    justify-content: center;
    margin-bottom: 70px;
    
    
    



}


.socials-container-body a {

    background-color: white;
    
    border-radius: 10px;
    height: 34px;
    width: 50px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    justify-content: center;
    
    margin-left: 10px;
    margin-right: 10px;
    
    
    
    margin-bottom: 10px;
    
}

.socials-container-body a svg {
    height: 22px;
    opacity: 60%;
}

.socials-container-body a::before {

    content: attr(data-social);
    position: absolute;
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;

    border-radius: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);

    opacity: 0;

}

.socials-container-body a:hover {
    background-color: #029c9e;
    cursor: pointer;
    
    fill: white;
    opacity: 85%;
    
    
    
    scale: 1.2;
    

}

.dir{ 
    margin-top: 5px;
    text-align: center;
    
     margin-left: 10px;
     margin-right: 10px;

    background-color: #ffffff;

    
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    
    margin-bottom: 50px;
    
   padding-bottom: 5px;
    
}

.dir-info{

    display: flex;
}

.dir h2{
text-align: center;
padding: 15px;

}
.dir h3{

    margin-left: 13px;
    padding: 10px;
    
    font-weight: 400;
    font-size: 13px;
    
    
   
}
.dir iframe{

    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.direction{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
}








@media screen and (max-width: 1200px) {
    .banner .content {
        font-size: 5px;
        text-align: right;



    }

    .banner .content div:nth-child(1) {

        text-align: right;

        letter-spacing: 3px;

        text-shadow: 2px 2px 4px #474747;




    }

    .banner .content div:nth-child(2) {
        font-size: 9em;
        color: #07a5a7;
        text-align: right;
        letter-spacing: 1px;
        text-shadow: 2px 2px 4px #474747;


    }
}

@media screen and (max-width: 992px) {
    .banner .content {
        font-size: 6px;



    }

    .banner .content div:nth-child(1) {
        font-size: 6em;
        text-shadow: 2px 2px 4px #474747;
        text-align: right;



    }

    .banner .content div:nth-child(2) {
        font-size: 11em;
        color: #07a5a7;

        text-shadow: 2px 2px 4px #474747;
        text-align: right;


    }
}

@media screen and (width <=678px) {
    .banner .content {
        font-size: 2px;
        margin-right: 40px;

    }

    .banner .content div:nth-child(1) {

        text-align: right;
        font-size: 8em;
        text-shadow: 2px 2px 4px #474747;




    }

    .banner .content div:nth-child(2) {

        font-size: 15em;
        color: var();
        letter-spacing: 5px;

        text-shadow: 2px 2px 4px #474747;
        text-align: left;


    }
}


@media (width > 828px) {

    nav {
        position: static;
        padding: 1rem 1rem 2rem;
        max-width: var(--max-widht);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .nav-header {
        padding: 0;
        background-color: transparent;


    }

    .nav-logo a img {
        max-height: 150px;
        max-width: 150px;
        


    }



    .nav-menu-btn {

        display: none;
    }

    .nav-links {

        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav-links a {

        font-weight: 600;
        color: var(--white);
    }

    .nav-links a:hover {
        color: var(--hover-color);
    }

   
.img-slider{

  position: relative;
  max-width: 1600px; 
  height: 500px;
  
  

  width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    


    position: relative;
}

.img-slider .slide{

    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    

}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1.3s;
    transition-property:  clip-path;



}

.img-slider .slide img{
z-index: 1;
width: 100%;
max-height: 500px;
margin-bottom: 55px;
mask-image: linear-gradient(to right,#22577a 0%,#22577a 70%, transparent 100%);










}

.img-slider .slide .info{
position: absolute;

padding: 10px 30px;




}

.img-slider .slide .info h2 {
    color: #029c9e;
    
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    
    opacity: 1;
}

.img-slider .slide .info p{
color: #000000;
background: rgba(197, 193, 193, 0.568);
font-weight: 500;
font-size: 15px;
max-width: 600px;
padding-right: 10px;
border-radius: 2px;

mask-image: linear-gradient(to right,#22577a 0%,#22577a 90%, transparent 100%);
opacity: 1;






}

.img-slider .navigator{
z-index: 2;
position: absolute;
display: flex;
bottom: 40px;
left: 25%;
transform: translateX(-50%);

}

.img-slider .navigator .btn{
    background: rgba(255, 255, 255, 0.9);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    




}

.img-slider .navigator .btn.active{
    background: #029b9ed5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);


}

.img-slider .navigator .btn:hover{

    scale: 1.3;
    background: #029b9e9a;
    

}

    .img-brand {
        display: flex;

        justify-content: center;
    }

    .img-brand img {
        height: 70%;
        width: 20%;






    }

   

    .description {


        margin-top: 75px;
        justify-content: center;
        text-align: center;
        font-family: "DM Serif Display";
        font-size: 16px;







    }

    .service-card {
        margin-top: 40px;
        margin-left: 10px;
        background-color: #ffffff;

        width: 300px;
        padding: 24px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .service-title {
        font-size: 22px;
        margin-bottom: 12px;
        color: #333;
    }

    .service-description {
        font-size: 15px;
        color: #666;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .service-button {
        background-color: #029c9e;
        color: #fff;
        border: none;
        padding: 10px 18px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }

    .service-button:hover {
        background-color: #444;
    }

    .services-container {

        display: flex;
        gap: 45px;
        /* Espacio entre tarjetas */
        justify-content: center;
        /* Alineación horizontal */
        align-items: stretch;
        /* Altura uniforme */
        flex-wrap: wrap;
        /* Baja a la siguiente fila si no caben */
    }

    .direction{
        margin-right: 20px;
        font-weight: 300;
    }

    .dir-info{
        margin-right: 100px;
    }

    .map{
       
        align-items: center;
        margin-left: 4%;
        justify-content: center;
       
    }





}